@import "../sass/variables.scss";
.DevMenuButtonContainer {
  width: 100vw;
  background-color: white;
  border-top: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 5%;
  height: 60px;
  bottom: 0;
  z-index: 10;

  button {
    height: 40px;
    padding: 10px;
    border-radius: 15px;
    color: white;
  }
  .openCloseButton {
    background-color: goldenrod;
  }
}
.devMenu {
  flex-direction: row;
  background-color: rgb(46, 46, 46);
  border-bottom: black 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  height: 99vh;
  border-right: 1px solid darkgrey;
  z-index: 6;
  ul {
    display: flex;
    width: fit-content;
    flex-direction: column;
    @include UlNormalize;

    button {
      border: none;
      color: white;
      height: 40px;
      width: 100px;
      margin: 5px;
    }
  }
  .devMenuToggle {
    color: black;
  }
}
.Red {
  background-color: darkred;
}
.Green {
  background-color: darkgreen;
}
