@import "./variables.scss";

.landingPageSection {
  padding-top: 5%;
  max-width: 1000px;

  .wrapper10 {
    ul {
      @include UlNormalize;
      .activityItem {
        padding: 10px 20px;
        min-width: 300px;
        margin: 20px;
        background-color: white;

        h3 {
          margin-top: 0;
        }
      }
    }
  }
}

.profileList {
  @include UlNormalize;

  .profileItem {
    background-color: #3b5239;
    color: white;
    border-radius: 15px;
    padding: 5%;
    margin: 10% 0;
  }
}
