@import "./_variables.scss";
@import "./StyleGuide.scss";

.onBoardingSectionContainer {
  background-color: var(--headercolor);
  border-right: 1px grey solid;
  color: var(--fontColor);
  min-height: 100vh;
  max-width: 500px;
  min-width: 350px;
  justify-content: space-between;

  .onBoardingUpperContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 80%;
    bottom: 12%;
    .backButton {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      padding: 10px;
      font-family: $fontBodyType;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: 1.25px;

      span {
        display: flex;
      }
      .textButton {
        order: 2;
      }

      .imageButton .iconArrow {
        transform: rotate(180deg);
        margin-right: 5px;
        order: 1;
        font-size: 16px;
      }
    }
  }

  .communityRules {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-weight: 400;
  }
  .nextButton {
    background-color: #c3e8bd;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-content: center;
    justify-content: center;
    padding: 10px;
    width: 80px;
    font-family: $fontBodyType;
    color: black;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 1.25px;
    cursor: pointer;

    span {
      display: flex;
      justify-content: center;
    }

    .iconArrow {
      transform: rotate(0deg);
      color: black;
      margin-left: 5px;
      height: 14px;
    }

    a {
      text-decoration: none;
    }
  }
  .titleOnboardingh2 {
    width: 100%;
    padding: 0 5%;
    text-align: center;
  }
  .tips {
    text-transform: uppercase;
    font-size: 10px;
    width: 100%;
    margin: 15px 0;
    margin-bottom: 0;
  }
  .grey {
    background-color: #dedede;
  }
  .onBoardingSectionWrapper {
    @include FlexColumn;
    padding: 2% 10%;
    padding-bottom: 5%;
    height: 100%;
    width: 100%;
    justify-content: space-between;

    .onBoardingUpperContent {
      @include FlexRowCenter;
      justify-content: space-between;
    }
    .Avatars {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 100%;
      padding: 10% 0;
      .imgAvatar {
        height: 60px;
        width: 60px;
        margin: 5% 2%;
        cursor: pointer;
        border-radius: 90%;
        background-color: #e8e8e8;
      }
      img {
        height: 100%;
        width: 100%;

        cursor: pointer;
      }
      .selectedAvatar {
        outline: solid #3f273a 3px;
        border-radius: 90%;
      }
    }

    .middleContent,
    .onBoardingContent {
      .textForm {
        @include FlexColumn;
        justify-content: space-evenly;
        .labelsEmail {
          @include FlexColumn;
          label {
            padding: 3% 0;
          }

          input {
            background: #f2f8f4;
            border: none;
            border-radius: 15px;
            color: black;
            height: 40px;
            outline: 2px solid black;
            padding: 10px;
            width: 100%;
          }

          input::placeholder {
            color: slategray;
          }
          .errorForm {
            border: solid red 3px;
            color: red;
          }
          .successForm {
            border: solid darkgreen 3px;
            color: darkgreen;
          }
          .inputSelectedByUser {
            background-color: lightgrey;
            outline: 2px solid grey;
          }
          .inputSelectedByUser::placeholder {
            color: black;
          }
        }
        button {
          background: #3b5239;
          border-radius: 15px;
          border: none;
          color: white;
          font-size: 12px;
          font-weight: bolder;
          height: 32px;
          letter-spacing: 1.25px;
          margin-top: 40px;
          padding: 8px;
          text-transform: uppercase;
        }
      }
      .birthdayForm {
        @include FlexColumn;

        .birthdayFormInputContainer {
          @include FlexRow;
          justify-content: space-between;
        }
        .labelsEmail {
          @include FlexColumn;
          label {
            margin-bottom: 10px;
          }

          input {
            border: none;
            border-radius: 15px;
            padding: 10px;
            max-width: 75px;
            background-color: rgb(243, 240, 240);
          }
        }
        button {
          margin-top: 30px;
          width: 100px;
          border: none;
          padding: 10px;
          border-radius: 15px;
          align-self: center;
        }
      }
    }
  }
  .wrapperFix {
    padding: 2% 15%;
  }
}

.birthdayBackground {
  background-image: url("../../../public/assets/backgrounds/ballon.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.heartBackground {
  background-image: url("../../../public/assets/backgrounds/heart.png");
  background-repeat: no-repeat;
}
.agePara {
  margin-top: 20px;
}
.paraAccount {
  margin-top: 20px;
}
.interestsContainer {
  min-height: 25vh;
  ul {
    flex-wrap: wrap;
    @include FlexRowCenter;
    @include UlNormalize;
    justify-content: flex-start;

    .interestButtons {
      padding: 10px;
      margin: 4px;
      border-radius: 25px;
      font-size: 14px;
      font-family: Roboto;
      letter-spacing: 0.25px;
      cursor: pointer;
      border: 2px solid transparent;
    }

    .darkblueOrchid {
      background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, darkblue, darkorchid) border-box;
    }

    .aqua {
      background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #0ed2f7, #b2fefa) border-box;
    }

    .orangeYellow {
      background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #ff75c3, #faff00) border-box;
    }

    .redBlue {
      background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #ff0000, #0971ad) border-box;
    }

    .samlonPink {
      background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #1efadf, #acf42d) border-box;
    }

    .clickedTagButton {
      background: linear-gradient(#fee079, #fee079) padding-box;
    }
  }
}
.cardSelectedBox {
  background-color: white;
  position: relative;
  padding: 20px;
  margin-bottom: 10%;
  border: dotted black 2px;

  button {
    position: absolute;
    top: -10px;
    right: -5px;
    border: none;
    background-color: black;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 90%;
  }
}
.pronounsPara {
  font-size: 10px;
  margin-top: 5%;
}
.checkboxContainer {
  margin: 10px;
}
.questionList {
  @include UlNormalize;
}
.questionForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: solid grey 1px;
  border-radius: 15px;
  padding: 5%;
  margin-bottom: 10%;
  background-color: white;

  .imageContainer {
    width: 100%;
    height: 170px;
    margin-bottom: 20px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  textarea {
    min-height: 50%;
    border: none;
    background-color: white;
  }

  .submit {
    background-color: #60725d;
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    margin-top: 5%;
    align-self: flex-end;
  }
}

@media only screen and (min-width: 625px) {
  .momentsSubmitMyProfile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include UlNormalize;
    align-content: center;
    justify-content: center;

    .questionForm {
      max-width: 500px;
      min-width: 400px;
      max-height: 300px;
      min-height: 300px;
      margin: 2%;
      padding: 1%;
      margin-bottom: 2%;
    }
  }

  .myPastMoments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.havenh2pTag {
  margin: 0;
}
