@import "./_variables.scss";
@import "./StyleGuide.scss";

.onBoardingSectionContainer {
  background-color: var(--headercolor);
  border-right: 1px grey solid;
  color: var(--fontColor);
  min-height: 100vh;
  max-width: 500px;
  min-width: 350px;
  justify-content: space-between;
  padding-bottom: 5%;

  .onBoardingUpperContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 15%;
    justify-content: space-between;
    .backButton {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      padding: 10px;
      font-family: $fontBodyType;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: 1.25px;

      span {
        display: flex;
      }
      .textButton {
        order: 2;
      }

      .imageButton .iconArrow {
        transform: rotate(180deg);
        margin-right: 5px;
        order: 1;
        font-size: 16px;
      }
    }
  }

  .communityRules {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-weight: 400;
  }
  .nextButton {
    background-color: #c3e8bd;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-content: center;
    justify-content: center;
    padding: 10px;
    width: 80px;
    font-family: $fontBodyType;
    color: black;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 1.25px;
    cursor: pointer;

    span {
      display: flex;
      justify-content: center;
    }

    .iconArrow {
      transform: rotate(0deg);
      color: black;
      margin-left: 5px;
      height: 14px;
    }

    a {
      text-decoration: none;
    }
  }
  .titleOnboardingh2 {
    width: 100%;
    padding: 0 5%;
    text-align: center;
  }
  .tips {
    text-transform: uppercase;
    font-size: 10px;
    width: 100%;
    text-align: center;
  }
  .grey {
    background-color: #dedede;
  }
  .onBoardingSectionWrapper {
    padding: 5% 15%;
    width: 100%;

    .onBoardingUpperContent {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    .Avatars {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 100%;
      .imgAvatar {
        height: 60px;
        width: 60px;
        margin: 5%;
        cursor: pointer;
        border-radius: 90%;
        background-color: #e8e8e8;
      }
      img {
        height: 100%;
        width: 100%;

        cursor: pointer;
      }
      .selectedAvatar {
        outline: solid gold 3px;
        border-radius: 90%;
      }
    }

    .middleContent,
    .onBoardingContent {
      .textForm {
        @include FlexColumn;
        justify-content: space-evenly;
        .labelsEmail {
          @include FlexColumn;
          label {
            font-weight: bold;
            padding: 15px 0;
          }

          input {
            background: #f2f8f4;
            border: none;
            border-radius: 15px;
            color: grey;
            height: 40px;
            outline: 1px solid black;
            padding: 10px;
            width: 100%;
          }
          .errorForm {
            border: solid red 3px;
            color: red;
          }
          .successForm {
            border: solid darkgreen 3px;
            color: darkgreen;
          }
          .inputSelectedByUser {
            background-color: #c0ff99;
            outline: 2px solid green;
          }
        }
        button {
          background: #3b5239;
          border-radius: 15px;
          border: none;
          color: white;
          font-size: 12px;
          font-weight: bolder;
          height: 32px;
          letter-spacing: 1.25px;
          margin-top: 40px;
          padding: 8px;
          text-transform: uppercase;
        }
      }
      .birthdayForm {
        @include FlexColumn;

        .birthdayFormInputContainer {
          @include FlexRow;
          justify-content: space-between;
        }
        .labelsEmail {
          @include FlexColumn;
          label {
            font-weight: bold;
            margin-bottom: 10px;
          }

          input {
            border: none;
            border-radius: 15px;
            padding: 10px;
            max-width: 75px;
            background-color: rgb(243, 240, 240);
          }
        }
        button {
          margin-top: 30px;
          width: 100px;
          border: none;
          padding: 10px;
          border-radius: 15px;
          align-self: center;
        }
      }
    }
  }
}

.agePara {
  margin-top: 20px;
}
.paraAccount {
  margin-top: 20px;
}
.interestsContainer {
  min-height: 25vh;
  ul {
    flex-wrap: wrap;
    @include FlexRowCenter;
    @include UlNormalize;
    justify-content: flex-start;

    .interestButtons {
      padding: 10px;
      border: solid black 2px;
      margin: 4px;
      border-radius: 25px;
      font-size: 14px;
      font-family: Roboto;
      letter-spacing: 0.25px;
      cursor: pointer;
    }

    .clickedTagButton {
      background-color: #fee079;
    }
  }
}

.pronounsPara {
  font-size: 10px;
  margin-top: 5%;
}
.checkboxContainer {
  margin: 10px;
}
.questionList {
  @include UlNormalize;
}
.questionForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: solid black 3px;
  border-radius: 15px;
  padding: 5%;
  margin-bottom: 10%;
  background-color: rgb(242, 248, 244);

  textarea {
    min-height: 50%;
    border: none;
    background-color: rgb(242, 248, 244);
  }

  .submit {
    background-color: white;
    border-radius: 15px;
    border: none;
    border: solid green 3px;
    height: 32px;
    width: 100px;
    margin-top: 5%;
    align-self: flex-end;
  }
}
