.Bar {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
  padding-bottom: 15%;
  width: 100%;
  min-width: 100px;

  .dot {
    height: 24px;
    width: 12.5%;
  }

  .grey {
    background-color: white;
    outline: solid black 2px;
  }
}

.green {
  background-color: #3dcc79;
  outline: solid black 2px;
}
