.Bar {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
  padding-bottom: 15%;
  width: 35%;
  min-width: 100px;

  .dot {
    height: 8px;
    width: 8px;
  }
}

.grey {
  background-color: grey;
  border-radius: 90%;
}

.green {
  background-color: #66ffa6;
}
